## Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can use the instructions from
[06-environment.md](../../../01-intro/06-environment.md).

### Q1. Pandas version

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

```python
pd.__version__
```

In [1]:
import pandas as pd
print(pd.__version__)

2.3.2

### Getting the data 

For this homework, we'll use the Car Fuel Efficiency dataset. Download it from <a href='https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'>here</a>.

You can do it with wget:
```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [8]:
import wget

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
save_filepath = "./01-intro"
wget.download(url=url, out=save_filepath)

'./01-intro/car_fuel_efficiency.csv'

### Q2. Records count

How many records are in the dataset?

- 4704
- 8704
- 9704
- 17704

In [2]:
df = pd.read_csv(filepath_or_buffer="./01-intro/car_fuel_efficiency.csv")
display(df.head())
print(f"Number records: {df.shape[0]}")

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Number records: 9704

### Q3. Fuel types

How many fuel types are presented in the dataset?

- 1
- 2
- 3
- 4

In [3]:
# print(df.columns.tolist())
print(df['fuel_type'].nunique())
print(df['fuel_type'].unique())

2
['Gasoline' 'Diesel']

### Q4. Missing values

How many columns in the dataset have missing values?

- 0
- 1
- 2
- 3
- 4

In [4]:
print(f"Missing values info:\n{df.isna().sum()}\n")

print(f"Number cols with missing values: {(df.isna().sum() > 0).sum()}")

Missing values info:
engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Number cols with missing values: 4

### Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

- 13.75
- 23.75
- 33.75
- 43.75

In [5]:
# print(df.groupby('origin')['fuel_efficiency_mpg'].max())
print(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max())

23.759122836520497

### Q6. Median value of horsepower



1. Find the median value of `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use `fillna` method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.

Has it changed?


- Yes, it increased
- Yes, it decreased
- No

In [6]:
print(f"Horsepower nulls (before): {df['horsepower'].isna().sum()}")
med_hp1 = df['horsepower'].median()
print(f"Median horsepower (before): {med_hp1}")
mode_hp1 = df['horsepower'].mode()[0]
print(f"Mode horsepower (before): {mode_hp1}\n")

df2 = df.copy()
df2['horsepower'] = df2['horsepower'].fillna(mode_hp1)
print(f"Horsepower nulls (after): {df2['horsepower'].isna().sum()}")
med_hp2 = df2['horsepower'].median()
print(f"Median horsepower (after): {med_hp2}")

Horsepower nulls (before): 708
Median horsepower (before): 149.0
Mode horsepower (before): 152.0

Horsepower nulls (after): 0
Median horsepower (after): 152.0

### Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns `vehicle_weight` and `model_year`
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the sum of all the elements of the result?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- 0.051
- 0.51
- 5.1
- 51

In [7]:
import numpy as np
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].reset_index(drop=True).head(7).values
# print(X, "\n")

# ones = np.ones(X.shape[0])

# X = np.column_stack([ones, X])
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
 
# GRAM MATRIX
XTX = X.T.dot(X)
 
# Inverse GRAM MATRIX
XTX_inv = np.linalg.inv(XTX)

w_full = XTX_inv.dot(X.T).dot(y)
w_full

print(sum(w_full))

0.5187709081074016

## Submit the results

* Submit your results here: https://courses.datatalks.club/ml-zoomcamp-2025/homework/hw01
* If your answer doesn't match options exactly, select the closest one